<div class="ui middle aligned center aligned grid">
  <div class="column">

    <div class="ui segment">
      <h1 class="center aligned header form-head">Register</h1>
      <br/>

      <form class="ui form"
        [formGroup]="form"
        (ngSubmit)="onSubmit(form.value)">
        <div class="field">
          <input type="email" id="email" placeholder="Enter email" formControlName="email">
        </div>
        <div class="field">
          <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        </div>
        <div class="field">
          <input type="password" class="form-control" id="password" placeholder="Confirm password" formControlName="confirmPassword">
        </div>
        <button type="submit" class="ui submit fluid large primary button" [disabled]="!form.valid">Register</button>
      </form>
      <div class="ui divider"></div>
      <p>Already a member?</p>
      <button class="ui fluid large button" routerLink="/login">Sign in</button>
    </div>
  </div>

</div>
