<div class="ui middle aligned center aligned grid">
  <div class="column">

    <div class="ui segment">
      <h1 class="center aligned header form-head">Register</h1>
      <br/>

      <form class="ui form">
        <div class="field">
          <input type="email" id="email" placeholder="Enter email">
        </div>
        <div class="field">
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="field">
          <input type="password" class="form-control" id="password" placeholder="Confirm password">
        </div>
        <button type="submit" class="ui submit fluid large primary button">Register</button>
      </form>
      <div class="ui divider"></div>
      <p>Already a member?</p>
      <button class="ui fluid large button" routerLink="/login">Sign in</button>
    </div>
  </div>

</div>
